# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# General .NET coding conventions
[*.cs]
indent_style = space
indent_size = 4

# Roslyn analyzer rule CA2016: Forward CancellationToken parameters to methods that call them
dotnet_diagnostic.CA2016.severity = error
